* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  font-family: Arial, sans-serif;
}

form {
  background: lightblue;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

.toppings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toppings-container label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.toppings-container label {
  cursor: pointer;
}

img {
  width: 400px;
}

/* Cooking Methods */
.cooked-container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto 0;
}

.dropdown-cooked {
  position: absolute;
  top: 100%;
  left: 0;
}

.cooked-header {
  margin: 3rem auto 1rem auto;
}

.cooked-label {
}
