* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  background: lightblue;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

.toppings-container {
  display: flex;
  flex-direction: column;
}
